<div class="layout">
  <aside class="sidebar">
    <div class="brand">
      <span class="brand-icon">⚖</span>
      <span class="brand-name">LexConnect</span>
    </div>

    <a routerLink="/dashboard/avocat/profil" class="profile-link" title="Mon profil">
      <div class="avatar">{{ initials() }}</div>
      <div>
        <p class="profile-name">{{ nom() }}</p>
        <p class="profile-role">Avocat</p>
      </div>
    </a>

    <nav>
      <a routerLink="/dashboard/avocat" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <span>🏠</span>
        Tableau de bord
      </a>

      <a routerLink="/dashboard/avocat/dossiers" routerLinkActive="active">
        <span>📁</span>
        Dossiers disponibles
       </a>

      <a routerLink="/dashboard/avocat/messages" routerLinkActive="active">
        <span>💬</span>
        Messages
      </a>

      <a routerLink="/contact" routerLinkActive="active">
        <span>🆘</span>
        Support
      </a>
    </nav>

    <button class="logout" (click)="logout()">🚪 Se déconnecter</button>
  </aside>

  <main class="content">
    <router-outlet />
  </main>
</div>